<div class="background">
  <div class="main-page">
    <mat-card class="container"> 
      <img class="logo" src="/assets/img/color-logo.png" />
      <mat-card-header>
        <mat-card-title>Welcome to myFlix!</mat-card-title>
        <mat-card-subtitle>Login or sign up today!</mat-card-subtitle>
      </mat-card-header>
    <mat-card-actions class="buttons">
    <button
      class="login-btn"
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
    >
      Login
    </button>

    <button
    class="signup"
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    color="primary"
  >
    Sign Up
  </button>
    </mat-card-actions>
  </mat-card> 
</div>

</div>
  

    