<mat-card class="card-container">
        <h1 style="text-align: center;">Your Profile Info</h1>
        <mat-card-content class="content">
            <p>Email: {{user.Email}}</p>
            <p>Birthday: {{formatDate(user.Birthday)}}</p>
            <p>Username: {{user.Username}}</p>
            <button
            class="float-right"
            mat-stroked-button
            color="basic"
            (click)="openProfileEditDialog()"
        >
            Edit
        </button>
        </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>