
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
    <div *ngIf="user">
        <mat-nav-list (click)="sidenav.close">
            <a mat-list-item routerLink="users">
                <mat-icon>person_outline</mat-icon>
                <span>My Profile</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="FavoriteMovies">
                <mat-icon>favorite_border</mat-icon>
                <span>Favorites</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink="movies">
                <mat-icon>movie</mat-icon>
                <span>Movies</span>
            </a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item (click)="onLogout()" >
                <mat-icon>exit_to_app</mat-icon>
                <span>Log off</span>
            </a>
        </mat-nav-list>
    </div>
</mat-sidenav>

    <div *ngIf="user">
        <mat-toolbar color="primary" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon (click)="sidenav.open()">menu</mat-icon>
        <span>Welcome, {{user}}</span>
    </mat-toolbar>
    </div>
            
    <router-outlet></router-outlet>
  </mat-sidenav-container>
